.code-label {
    background-color: rgba(100, 100, 100, 0.6);
    font-size: 0.8rem;
    border-radius: 10px;
    color: #0077cc;
    display: inline-block;
    padding: 3px 6px;
    margin: 0 0 0px 0;
    width: fit-content;
    z-index: 100;
    top: 10px;
    left: 5px;
    position: relative;
  }